<div class="grid grid-cols-4 text-center h-12">
  <div class="bg-gray-400 border-r-2 border-l-4 hover:bg-purple-700 hover:text-white">
    <a href="#" >Cancel</a>
  </div>
  <div class="bg-gray-400 border-r-2 hover:bg-purple-700 hover:text-white">
    <a href="#">Continue</a>
  </div>
  <div class="bg-gray-400 border-r-2 hover:bg-opacity-75 hover:text-white">
    <a href="#">Save</a>
  </div>
  <div class="bg-gray-400 border-r-2 hover:bg-purple-700 hover:text-white">
    <a href="#">Save & Publish</a>
  </div>

</div>
