<div class="w-227px h-1024px border">
  <div class="pb-40 pt-10 pl-4">
    <p><span class="material-icons">shopping_bag</span>Shop</p>
    <p><mat-icon aria-hidden="false" aria-label="Example home icon">book_online</mat-icon> Bestellungen</p>
    <p><mat-icon aria-hidden="false" aria-label="Example home icon">perm_identity</mat-icon> Kunde</p>
  </div>
  <div class="pl-4">
    <p><mat-icon aria-hidden="false" aria-label="Example home icon">settings</mat-icon>  Einstellung</p>
    <p> <mat-icon>help_center</mat-icon>Help</p>
  </div>
  <div class="text-center pt-4">
    <a href="#" class="text-indigo-500">Ausloggen </a>
  </div>
</div>

