<div class="w-full">
  <div class="flex flex-wrap justify-items-center">
<!--    lg:w-1/2 w- full: when screen is large, the container occupies halb of screen, and occupies full when screen is small-->
    <div class="border-2 w-full lg:w-1/2">
      <p>productId:{{productId}} </p>
      <p>Create categories for the product</p>
      <div *ngFor = "let cat of categories">
        <mat-form-field class="example-chip-list" appearance="fill">
          <mat-label>{{cat.code}} values</mat-label>
          <mat-chip-list #chipList aria-label="Option Value selection">
            <mat-chip
              *ngFor="let v of cat.values"
              [removable]="removable"
              (removed)="removeValue(cat, v)">
              {{v.translations.de_DE.value}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input
              placeholder="{{cat.code}}"
              [matChipInputAddOnBlur] = "addOnBlur"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="addValue(cat, $event)">
          </mat-chip-list>
        </mat-form-field>
        <button (click)="removeCategory(cat)">x</button>
      </div>

      <div class="add-new-category">
        <form (ngSubmit)="addCategory()">
          <input placeholder="Name of Category" [formControl] ="codeValue" >
          <button class="bg-green-500">Add a category</button>
        </form>
      </div>

      <br>
      <br>
      <button (click)="runGetProductVariants()">Show Variants</button>
      <br>
      <button class="bg-blend-darken mr-1" (click)="runGetProductOptionValues()">get Option Values</button>
      <br>
      <button class="bg-[#0f0] mr-1" (click)="showArrayOfOptionValues()">show Option Values</button>
      <br>
    </div>

    <div class="border-2 w-full lg:w-1/2">
      <!--      variant form-->
      <form [formGroup]="variantArrayForm" (ngSubmit) = "submitVariantArray()">
        <table>
          <thead>
          <tr>
            <th>Varianten</th>
            <th>Preis</th>
            <th>Sale Presi</th>
            <th>QR_code</th>
          </tr>
          </thead>
          <tbody>
          <tr>
          <div id="array_variant" formArrayName="variant" >
            <div *ngFor="let variant of variant.controls; let i= index" >
<!--              variant here is the function variant() in varianten.component.ts-->
              <div [formGroupName] ="i">
                <th>
                  <section>
                    <input type="checkbox"
                           [checked]="flagCheckbox[i]"
                           (change)="changeCheckboxOption($event, i)"
                           [value] = "selectedOptionValues[i].translations.de_DE.value" >
                    {{selectedOptionValues[i].translations.de_DE.value}}
                  </section>
                </th>
                <div *ngIf ="flagCheckbox[i]">
<!--                  [ngModelOptions]="{standalone: true} help to connect the template and component-->
                  <input type="radio" [name]="'preis' + i"
                         [disabled]="disableStatusCheckboxPreis[i]"
                         [checked]="checkStatusCheckboxPreis[i]"
                         (change)="changeCheckboxPreis($event, i)"
                         [value]="preis[i]" >
                      <input type="text"
                             [(ngModel)] = "preis[i]"
                             [ngModelOptions]="{standalone: true}"
                             (keyup)="getPreis($event, i)"   />
                  <input type="radio" [name]="'preis' + i"
                         [disabled]="disableStatusCheckboxSalePreis[i]"
                         [checked]="checkStatusCheckboxSalePreis[i]"
                         (change)="changeCheckboxSalePreis($event, i)"
                         [value]="salePreis[i]" >
                      <input [(ngModel)] = "salePreis[i]"
                             [ngModelOptions]="{standalone: true}" type="text"
                             (keyup)="getSalePreis($event, i)"/>
                </div>
              </div>
            </div>
          </div>
            <p>Form value: {{ variantArrayForm.value | json }}</p>

          </tr>
          </tbody>
        </table>
        <button class="bg-[rgba(123,123,123,0.5)]" >save Variants</button>
      </form>
    </div>

  </div>
</div>







