<div class="w-full">
  <div class="flex flex-wrap justify-items-center">
<!--    lg:w-1/2 w- full: when screen is large, the container occupies halb of screen, and occupies full when screen is small-->
    <div class="bg-gray-100 w-full lg:w-1/2 min-h-screen">
<!--      <button (click)="checkReceivingProduct()">check</button>-->
      <div class="mt-4 px-4">
        <p>Create categories for the product </p>
      </div>
      <div *ngFor = "let cat of categories" >
        <mat-form-field  appearance="fill">
          <mat-label>{{cat.code}} values</mat-label>
          <mat-chip-list #chipList aria-label="Option Value selection">
            <mat-chip
              *ngFor="let v of cat.values"
              [removable]="removable"
              (removed)="removeValue(cat, v)">
              {{v.translations.de_DE.value}}
              <div>
                <mat-icon class="bg-green-500" matChipRemove *ngIf="removable">cancel</mat-icon>
              </div>
            </mat-chip>
            <input
              placeholder="{{cat.code}}"
              [matChipInputAddOnBlur] = "addOnBlur"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="addValue(cat, $event)">
          </mat-chip-list>
        </mat-form-field>
        <button (click)="removeCategory(cat)">x</button>
      </div>

      <div class="mt-4">
        <form (ngSubmit)="addCategory()">
          <input class="border-2 p-2 mx-2 rounded-md focus:ring-2 focus:ring-purple-600 shadow-xl" placeholder="Name of Category" [formControl] ="codeValue" >
          <button class="bg-green-500 rounded-md p-2 ">Add a category</button>
        </form>
      </div>

      <br>
<!--      <br>-->
<!--      <button (click)="runGetProductVariants()">Show Variants</button>-->
<!--      <br>-->
<!--      <button class="bg-blend-darken mr-1" (click)="runGetProductOptionValues()">get Option Values</button>-->
<!--      <br>-->
<!--      <button class="bg-[#0f0] mr-1" (click)="showArrayOfOptionValues()">show Option Values</button>-->
<!--      <br>-->
    </div>

    <div class="bg-gray-200 w-full lg:w-1/2 min-h-screen relative ">
      <!--      variant form-->
      <div>
        <form [formGroup]="variantArrayForm" (ngSubmit) = "submitVariantArray()">
          <table class="mx-4 w-full">
            <thead >
            <tr>
              <th>Variants</th>
              <th>Price</th>
              <th>Sale Price</th>
              <th>QR_code</th>
            </tr>
            </thead>
            <!--              variant here is the function variant() in varianten.component.ts-->
            <tbody  id="array_variant" formArrayName="variant" *ngFor="let variant of variant.controls; let i= index" >
            <tr [formGroupName] ="i">
              <td>
                <section>
                  <input type="checkbox"
                         [checked]="flagCheckbox[i]"
                         (change)="changeCheckboxOption($event, i)"
                         [value] = "selectedOptionValues[i].translations.de_DE.value" >
                  {{selectedOptionValues[i].translations.de_DE.value}}
                </section>
              </td>
              <!--                  [ngModelOptions]="{standalone: true} help to connect the template and component-->
              <td   *ngIf ="flagCheckbox[i]">
                <input type="radio" [name]="'preis' + i"
                       [disabled]="disableStatusCheckboxPreis[i]"
                       [checked]="checkStatusCheckboxPreis[i]"
                       (change)="changeCheckboxPreis($event, i)"
                       [value]="preis[i]" >
                <input type="text" class="w-4/5"
                       [(ngModel)] = "preis[i]"
                       [ngModelOptions]="{standalone: true}"
                       (keyup)="getPreis($event, i)"   />
              </td>
              <td   *ngIf ="flagCheckbox[i]">
                <input type="radio" [name]="'preis' + i"
                       [disabled]="disableStatusCheckboxSalePreis[i]"
                       [checked]="checkStatusCheckboxSalePreis[i]"
                       (change)="changeCheckboxSalePreis($event, i)"
                       [value]="salePreis[i]" >
                <input [(ngModel)] = "salePreis[i]"
                       [ngModelOptions]="{standalone: true}"
                       type="text" class="w-4/5"
                       (keyup)="getSalePreis($event, i)"/>
              </td>
              <!--            <p>Form value: {{ variantArrayForm.value | json }}</p>-->
            </tr>

            </tbody>
          </table>
        </form>
      </div>
      <div>
        <button class="absolute right-0 mr-4 mt-4 bg-yellow-200 p-2 rounded-md hover:bg-opacity-75 hover:text-red-300 items-end" >Save Variants</button>
      </div>
    </div>
  </div>
</div>







