<div class="m-4 p-0 h-full w-full">
  <div class="pb-3 pl-4">Order</div>
  <div id = "order-filter" class="shadow-xl m-4">
    <form class="relative">
      <input class="border-2 w-1/2 p-4 mb-2 ml-2 inline-block left-0 rounded-md focus:ring-2 focus:ring-purple-600 h-12"
             placeholder="Order-Nr, Customer-Nr ...">
      <div id="filter-search" class="inline-block absolute -mr-40">
        <button class="border-2 rounded-md w-12 ml-2 absolute h-12" >
          <mat-icon>
          filter_alt
        </mat-icon>
        </button>
        <button class="border-2 rounded-md w-12 ml-16 absolute h-12">
          <mat-icon>
            search
          </mat-icon>
        </button>
      </div>
    </form>
  </div>

  <div id = "order-list" class="m-4 shadow-xl rounded-lg border-0 border-indigo-50 min-h-full min-w-full">

  </div>

</div>
