<div class="m-4 p-0 h-full w-full">
  <div class="pb-3 pl-4">Order</div>
  <div id = "order-filter" class="shadow-xl m-4">
    <form class="relative">
      <input class="border-2 w-1/2 p-4 mb-2 ml-2 inline-block left-0 rounded-md focus:ring-2 focus:ring-purple-600 h-12"
             placeholder="Order-Nr, Customer-Nr ...">
      <div id="filter-search" class="inline-block absolute -mr-40">
        <button class="border-2 rounded-md w-12 ml-2 absolute h-12" >
          <mat-icon>
          filter_alt
        </mat-icon>
        </button>
        <button class="border-2 rounded-md w-12 ml-16 absolute h-12">
          <mat-icon>
            search
          </mat-icon>
        </button>
      </div>
    </form>
  </div>
</div>
<div id = "order-list" class="m-4 shadow-xl rounded-lg border-0 border-2">
    <table mat-table [dataSource]="dataSource">
      <!-- Position Column -->
      <ng-container matColumnDef="OrderNumber">
        <th mat-header-cell *matHeaderCellDef> OrderNr </th>
        <td mat-cell *matCellDef="let element"> {{element.number}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="OrderOn">
        <th mat-header-cell *matHeaderCellDef> OrderOn </th>
        <td mat-cell *matCellDef="let element"> {{element.number}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="customer">
        <th mat-header-cell *matHeaderCellDef> Customer </th>
        <td mat-cell *matCellDef="let element"> {{element.customer}} </td>
      </ng-container>

       Symbol Column
      <ng-container matColumnDef="totalPrice">
        <th mat-header-cell *matHeaderCellDef> Total Price </th>
        <td mat-cell *matCellDef="let element"> {{element.total}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="paymentMethod">
        <th mat-header-cell *matHeaderCellDef> Payment Method </th>
        <td mat-cell *matCellDef="let element">
            <p *ngFor="let payment of element.payments"> {{payment.method}}</p>
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="paymentState">
        <th mat-header-cell *matHeaderCellDef> Payment State </th>
        <td mat-cell *matCellDef="let element"> {{element.paymentState}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="shippingStatus">
        <th mat-header-cell *matHeaderCellDef> Shipping Status </th>
        <td mat-cell *matCellDef="let element"> {{element.shippingState}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="orderState">
        <th mat-header-cell *matHeaderCellDef> Order State </th>
        <td mat-cell *matCellDef="let element"> {{element.checkoutState}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>

</div>

