<div id="productForm" class="pl-10 py-10">
  <form [formGroup] = "productForm" (ngSubmit) = "postProduct()">
    <label> Titel <span> &nbsp; Gibt hier den Titel deines Produktes ein</span></label>
    <br>
    <input type="text" required ngModel class="w-full rounded-md" formControlName="name"><br>
    <label>Produktkategorie <span> &nbsp; z.B. Kleidung, E-books</span></label><br>
    <select class="w-full rounded-md" formControlName="category" >

      <option *ngFor="let taxon of taxons">{{taxon}}</option>
    </select><br>
    <label>Produktbeschreibung</label><br>
    <textarea class="w-full h-48 rounded-md" formControlName="desc"></textarea>
    <button type="submit" >Submit</button>
  </form>
<!--  display the values of the productform-->
<!--  <p> {{productForm.value | json}} </p>-->

<!--  <button class="bg-green-500 mr-1" (click) = "runGetToken()">get Jwt token</button>-->
<!--  <br>-->
</div>

<!--<div>-->
<!--  <form [formGroup] = "imageForm" (ngSubmit) = "runPostImage()">-->
<!--    <label>Path</label>-->
<!--    <input type="text" formControlName="path">-->
<!--    <label>Product_code</label>-->
<!--    <select  formControlName="id">-->
<!--        <option *ngFor="let code of product_codes">{{code}}</option>-->
<!--    </select>-->
<!--    <button type="submit">Save</button>-->
<!--  </form>-->
<!--</div>-->

<!--<div>-->
<!--  <img src={{img1}} >-->
<!--</div>-->



