<mat-tab-group>
  <mat-tab label="Preis & Varianten">
    <app-varianten [receivedProduct]="receivedProduct" ></app-varianten>
  </mat-tab>
  <mat-tab label="Produkt">
    <div class="flex flex-row justify-items-center">
      <app-product-form class="w-full" (productCreatedEvent)="receiveProduct($event)"></app-product-form>
      <app-bild-hochladen></app-bild-hochladen>
    </div>
  </mat-tab>
</mat-tab-group>
<div class="fixed bottom-0 left-0 right-0">
  <app-footer-view></app-footer-view>
</div>
